/*============
  Main Style
============*/

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
body {
  background-color: #B4A8D2;
  text-align: center;
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4 {
  font-family: 'Francois One', sans-serif;
}
p, li {
  font-size: 1.2em;
  margin: 0 1em;
  font-family: 'Didact Gothic', sans-serif;
}
a {
  text-decoration: none;
}
a:hover {
  color: #723E8E;
}
.nav-header, a, .contact h2, footer {
  color: #5B4492;
}
.header-content, .contact {
  color: #2E1863;
}
.portfolio {
  color: #38373A;
  background-color: #F8F7FA;
}
.skills {
  color: #38373A;
  background-color: #E0AB26;
  margin: 0;
  padding: 0;
}
.skills ul li {
  display: inline;
  padding: 0;
  margin: 0;
  list-style: none;
}
ul {
  padding: 0;
}
.footer-nav-medium {
  display: none;
}

/*=========
  Flexbox
=========*/

header, nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.skills, ul {
  display: flex;
  flex-wrap: wrap;
}
.skills h2 {
  color: #382800;
  width: 100vw;
}
.skills ul li {
  flex: 1 0 45vw;
}
footer {
  display: flex;
  justify-content: center;
}
footer h3 {
  margin-right: auto;
}

/*===============
  Media Queries
===============*/

@media screen and (min-width: 768px) {

  .footer-nav-small {
    display: none;
  }
  .footer-nav-medium {
    display: inline-flex;
  }

/*=========
  Flexbox
=========*/
  nav {
    flex-direction: row;
    justify-content: center;
  }
  nav h1 {
    width: 100vw;
  }
  .header-content {
    display: flex;
  }
  .header-content p {
    order: -1;
  }
  .portfolio-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .section {
    max-width: 50vw;
  }
  
}

@media screen and (min-width: 1024px) {


/*=========
  Flexbox
=========*/

  nav h1 {
    width: auto;
    margin-right: auto;
  }
  nav h1, .nav-link {
    align-self: center;
  }
  .section {
    max-width: 33vw;
  }
  
}