/*============
  Main Style
============*/

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
body {
  text-align: center;
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4 {
  font-family: 'Francois One', sans-serif;
}
p {
  margin-top: 0;
  font-family: 'Didact Gothic', sans-serif;
}
a {
  text-decoration: none;
}

/*=========
  Flexbox
=========*/

header, nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
footer {
  display: flex;
  justify-content: center;
}
footer h3 {
  margin-right: auto;
}

/*===============
  Media Queries
===============*/

@media screen and (min-width: 768px) {


/*=========
  Flexbox
=========*/
  nav {
    flex-direction: row;
    justify-content: center;
  }
  nav h1 {
    width: 100vw;
  }
  .header-content {
    display: flex;
  }
  .header-content p {
    order: -1;
  }
  
}

@media screen and (min-width: 1024px) {


/*=========
  Flexbox
=========*/

  nav h1 {
    width: auto;
    margin-right: auto;
  }
  nav h1, .nav-link {
    align-self: center;
  }
  
}