/*============
  Main Style
============*/

* {
  box-sizing: border-box;
}
body {
  text-align: center;
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4 {
  font-family: 'Francois One', sans-serif;
}
p {
  font-family: 'Didact Gothic', sans-serif;
}
a {
  text-decoration: none;
}

/*=========
  Flexbox
=========*/

