/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #585890;
  background: #b8b8ee;
  display: flex;
  flex-direction: column;
}
p {
  font-size: 1.5em;
  line-height: 1.5em;
  color: #444;
  margin: 1em;
}

/* Link Styles */
a {
  text-decoration: none;
  color: #222;
}
a:hover {
  color: #666;
}

/* Navs */
.main-nav, .contact, .main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nav-link {
  background-color: white;
  font-size: 1.5em;
  line-height: 2.5em;
  font-weight: bold;
  margin: 3px 20px;
}

/* Profile image */
.profile-image {
  margin-top: 25px;
}
.profile-image, .section-image {
/*  margin: auto;*/
  padding: 25px;
  flex: 0 0 auto;
  max-width: 100%;
}
.main-content {
  background-color: #eee;
  padding: 80px 0;
}
.portfolio-heading {
  margin: 0 0 40px
}
.contact {
  margin: 40px;
}
.contact h2 {
  color: #585890;
}
.contact-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.contact-info, .contact-title {
  padding: 10px;
  font-size: 1.4em
}
.contact-info {
  font-weight: bold;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
  padding: 20px 0;
  border-top: 1px solid grey;
}
.footer a {
  color: #585890;
}
.footer a:hover {
  color: #7878e0;
}
.footer-nav-medium {
  display: none;
}
.footer-nav-small {
  display: inline-flex;
}

/* Medium Sizes */
@media screen and (min-width: 769px) {
 
  .main-nav {
    flex-direction: row;
    justify-content: center;
  }
  .nav-link {
    flex: 0;
    padding: 0 20px;
  }
  .header-content {
    display: flex;
    margin: 20px 0;
  }
  .header-content p {
    flex: 2;
    order: -1;
  }
  .header-content img {
    margin: 0;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 0 20px;
  }
  .section {
    width: 50%;
    margin: 20px 0;
  }
  .section img {
    padding: 0 10px;
  }
  .section p {
    padding: 0 2em;
  }
  .contact p {
    padding: 0 5em;
  }
  .footer {
    display: flex;
    justify-content: flex-end;
  }
  .footer h2 {
    padding: 0 1em;
  }
  .profile-name {
    margin-right: auto;
  }
  .footer-nav-medium {
    display: inline-flex;
  }
  .footer-nav-small {
    display: none;
  }
  
}